@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');

html, body {
	margin: 0;
	background-color: black;
}

html {
	margin: 0;
	background-image: url(../imgs/bk1.jpg);
	background-size: 100%;
	background-repeat:no-repeat;
	

}


header {
	width: 100%;
	height: 65px;
	position: fixed;
	margin-bottom: 30px;
	z-index: 99;
	background-color: rgb(38,38,38);
}

header h1 {
	color: white; /* 没什么卵用 */
	display: inline-block;
	padding: 0;
	margin: 13px 30px;
	font-family: "Mynerve";
}

header nav {
	display: inline-block;
	float: right;
}

header nav ul {
	/*background-color: white;*/
	list-style-type: none;
  	text-align: center;
  	padding: 0;
  	margin: 10px 20px;
}

nav li {
	font-family: 'Plex', cursive;
	font-size: 21px;
  	height: 65px;
  	line-height: 45px;
  	width: 140px;
  	display: inline-block;
}

nav a {
	text-decoration: none;
	color: white;
	display: block;
	transition: all 1s;
}

nav a:hover {
	background-color: rgba(60,60,60,1);
	font-size: 23px;
}

.container1 {
	width: 90%;
	padding: 20px 6% 0px;
	margin: 0 auto;
	position: absolute;
	bottom: 10%;
}

#box1 {
	position: relative;
  	width: 47%;
  	display: inline-block;
  	margin: 10px;
  	border: 1px solid white;
}



.container1 h1{
	font-family: "Plex"
	font-size: 20px;
	color: white;
}


